body{
    margin: 0;
    font-family: "Roboto", sans-serif;
}
.hero{
    background-color: #0b0f0b;
    color: #FBFADA;
    height: 100vh;
    display: flex;
    font-family: "Dancing Script", cursive;
}
.korobka{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0 15px;
    padding: 0 100px;
    width: 50%;
}
h1{
    line-height: 120px;
    margin: 50px 0;
    font-size: 9rem;
}
h2{
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}
h3{
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}

.photo1{
    width: 70%;
    border: 20px solid rgb(50, 50, 50);
    rotate: 10deg;
    box-shadow: 15px 15px 15px 0 rgb(255, 255, 255);
}
.prizrak{
    z-index: 5;
    top: 500px;
    right:300px;
   position: absolute;
   width: 1px;
   height: 1px;
   background-color: white;
    box-shadow: 0 0 300px 100px white;
}
.hero1{
    background-color: #333433;
    color: #FBFADA;
    height: 100vh;
    display: flex;
    font-family: "Dancing Script", cursive;
}
.korobka{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0 15px;
    padding: 0 100px;
    width: 50%;
}
h1{
    line-height: 120px;
    margin: 50px 0;
    font-size: 9rem;
}
h2{
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}
h3{
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}

.photo2{
    width: 70%;
    border: 20px solid rgb(28, 26, 26);
    rotate: -10deg;
    box-shadow: 20px 20px 20px 0 rgb(197, 197, 197);
}
.prizrak{
    z-index: 5;
    top: 500px;
    right:300px;
   position: absolute;
   width: 1px;
   height: 1px;
   background-color: rgb(71, 71, 71);
    box-shadow: 0 0 300px 100px rgb(0, 0, 0);
}
.hero2{
    background-color: #535857;
    color: #FBFADA;
    height: 100vh;
    display: flex;
    font-family: "Dancing Script", cursive;
}
.korobka{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0 15px;
    padding: 0 100px;
    width: 50%;
}
h1{
    line-height: 120px;
    margin: 50px 0;
    font-size: 9rem;
}
h2{
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}
h3{
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}

.photo{
    width: 70%;
    border: 20px solid white;
    rotate: 5deg;
    box-shadow: 20px 20px 20px 0 black;
}
.prizrak{
    z-index: 5;
    top: 500px;
    right:300px;
   position: absolute;
   width: 1px;
   height: 1px;
   background-color: white;
    box-shadow: 0 0 300px 100px white;
}
.hero3{
    background-color: #0b0f0b;
    color: #FBFADA;
    height: 100vh;
    display: flex;
    font-family: "Dancing Script", cursive;
}
.korobka{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0 15px;
    padding: 0 100px;
    width: 50%;
}
h1{
    line-height: 120px;
    margin: 50px 0;
    font-size: 9rem;
}
h2{
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}
h3{
    font-size: 2rem;
    margin: 0;
    font-weight: 400;
}

.photo3{
    width: 90%;
    border: 20px solid rgb(255, 255, 255);
    rotate: 0deg;
    box-shadow: 20px 20px 20px 0 rgb(100, 100, 100);
}
.prizrak{
    z-index: 5;
    top: 500px;
    right:300px;
   position: absolute;
   width: 1px;
   height: 1px;
   background-color: white;
    box-shadow: 0 0 300px 100px white;
}
.hero4{
    background-color: #333433;
    color: #FBFADA;
    height: 100vh;
    display: flex;
    font-family: "Dancing Script", cursive;
}
.korobka{
    align-items: center;
    justify-content: center;
    display: flex;
    height: 100vh;
    margin: 0 15px;
    padding: 0 100px;
    width: 50%;
}
h1{
    line-height: 120px;
    margin: 50px 0;
    font-size: 9rem;
}
h2{
    font-size: 4rem;
    margin: 50px 0;
    font-weight: 900;
}
h3{
    font-size: 2rem;
    margin: 0;
    font-weight: 200;
}

.photo2{
    width: 70%;
    border: 20px solid rgb(28, 26, 26);
    rotate: -10deg;
    box-shadow: 20px 20px 20px 0 rgb(197, 197, 197);
}
.prizrak{
    z-index: 5;
    top: 500px;
    right:300px;
   position: absolute;
   width: 1px;
   height: 1px;
   background-color: rgb(71, 71, 71);
    box-shadow: 0 0 300px 100px rgb(0, 0, 0);
}